<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/todo/register" method="post">
  <label for="title">title : </label>
  <input type="text" name="title" id="title">
  <br>
  <label for="dueDate">DueDate : </label>
  <input type="date" name="dueDate" value="2022-12-25" id="dueDate">
  <br>
  <label for="writer">writer : </label>
  <input type="text" name="writer" id="writer">
  <br>
    <button type="submit">register</button>
</form>
</body>
</html>